{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/jsx-indent-props": [2, 4],
    "react/jsx-indent": [2, 4],
    "indent": [
      "error",
      4
    ]
  },
  "env": {
    "browser": true
  }
}